<% ship_from = Address[shipment.shipping_from_address_id]%>
<% ship_to = Address[shipment.shipping_to_address_id]%>
<% billed_to = Address[shipment.billed_address_id]%>
<div class="container">
  <div class="row justify-content-center">
    <div class="col-8">
      <div class="d-flex justify-content-between align-items-center mb-4">
        <img src="https://www.truckhardware.ca/images/logo_ol.png" alt="logo" style="height: 50px;">
        <h2 class="text-end">Commercial Invoice</h2>
      </div>
      <div class="row mb-3">
        <div class="col">
          <h5 class="mb-3">Exporter</h5>
          <p><%= ship_from.name%></p>
          <p><%= ship_from.address_line_1%></p>
          <p><%= ship_from.address_line_2%></p>
          <p><%= ship_from.city%>, <%= ship_from.state_code %> <%= ship_from.postal_code %></p>
          <p><%= ship_from.country %></p>
          <p><%= ship_from.phone_number %></p>
          <p class="mb-0"><%= ship_from.email %></p>
        </div>
        <div class="col">
          <h5 class="mb-3">Consignee</h5>
          <p><%= billed_to.name%></p>
          <p><%= billed_to.address_line_1%></p>
          <p><%= billed_to.address_line_2%></p>
          <p><%= billed_to.city%>, <%= billed_to.state_code %> <%= billed_to.postal_code %></p>
          <p><%= billed_to.country %></p>
          <p><%= billed_to.phone_number %></p>
          <p class="mb-0"><%= billed_to.email %></p>
        </div>
        <div class="col">
          <h5 class="mb-3">Sold To / Importer</h5>
          <p><%= ship_to.name%></p>
          <p><%= ship_to.address_line_1%></p>
          <p><%= ship_to.address_line_2%></p>
          <p><%= ship_to.city%>, <%= ship_to.state_code %> <%= ship_to.postal_code %></p>
          <p><%= ship_to.country %></p>
          <p><%= ship_to.phone_number %></p>
          <p class="mb-0"><%= ship_to.email %></p>
        </div>
      </div>
    </div>
  </div>
  <style>
    @page {
      size: Letter portrait; /* Change from the default size of A4 */
      margin: 3cm; /* Set margin on each page */
    }
  </style>
