<div class="address">
  <div class="address-type"><%= address.address_type %></div>
  <div class="name"><%= address.name %></div>
  <div class="address-line-1"><%= address.address_line_1 %></div>
  <div class="address-line-2"><%= address.address_line_2 %></div>
  <div class="city"><%= address.city %></div>
  <div class="state-code"><%= address.state_code %></div>
  <div class="country"><%= address.country %></div>
  <div class="postal-code"><%= address.postal_code %></div>
  <div class="phone-number"><%= address.phone_number %></div>
  <div class="email"><%= address.email %></div>
</div>