<ul>
  <% @fedex_rates.each do |rate| %>
    <li>
      <strong><%= rate["serviceName"] %></strong>:
      <ul>
        <li>Base Price: $<%= rate["ratedShipmentDetails"][0]["totalBaseCharge"] %></li>
        <li>Surcharge: $<%= rate["ratedShipmentDetails"][0]["shipmentRateDetail"]["totalSurcharges"] %></li>
        <li>Total Price: $<%= rate["ratedShipmentDetails"][0]["totalNetCharge"] %></li>
      </ul>
    </li>
    <br>
  <% end %>
  <hr>
  <% @purolator_rates.each do |rate| %>
    <li>
      <strong><%= rate[:service_id] %></strong>:
      <ul>
        <li>Expected Delivery: <%= rate[:expected_delivery_date] %></li>
        <li>Base Price: $<%= rate[:base_price] %></li>
        <li>Surcharge: $<%= rate[:surcharges][:surcharge][:amount] %></li>
        <li>Total Price: $<%= rate[:total_price] %></li>
      </ul>
    </li>
    <br>
  <% end %>
</ul>
