<a data-bs-toggle="modal" data-bs-target="#edit-address-modal-<%= address.id %>" data-item-id="<%= address.id %>">
<div class="address" id="address-<%= address.id %>">
  <p class="h6"><%= address.name %></p>
  <p class="h6 text-muted"><%= address.address_line_1 %> <% if address.address_line_2 != '' %><%= address.address_line_2 %> <% end %><%= address.city %> <%= address.state_code %> <%= address.country %> <%= address.postal_code %></p>
  <p class="h6 text-muted"><%= address.email %></p>
  <p class="h6 text-muted"><%= address.phone_number %></p>
  <%= erb :'addresses/_edit', locals: { address: address } %>
</div>
</a>
<script>
  $(document).on("submit", "#edit-address-form", function (event) {
    event.preventDefault();
    var itemId = $(this).data('item-id');
    var form = $(this);
    var formData = form.serialize();
    $.ajax({
      url: '/addresses/' + itemId,
      type: 'PUT',
      dataType: 'html',
      data: formData,
      success: function(data) {
        $('#edit-address-modal-' + itemId).modal('hide');
        $('#address-' + itemId).replaceWith(data);
      }
    });
  });
</script>
