<div class=item">
  <p>Weight: <%=item[:weight] %> <%=item[:weight_unit] %></p>
  <p>Description: <%=item[:description] %></p>
  <p>Quantity: <%=item[:quantity] %></p>
  <p>SKU: <%=item[:sku] %></p>
  <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#edit-item-modal-<%= item[:item_id] %>" data-item-id="<%= item[:item_id] %>">Edit</button>
  <%= erb :'items/_edit', locals: { item: item } %>
  <button type="button" class="btn btn-danger" data-bs-toggle="modal" data-bs-target="#remove-item-modal">Remove Item</button>
</div>

<script>
$(document).on('click', '[data-bs-toggle="modal"][data-bs-target="#edit-item-modal"]', function() {
  var itemId = $(this).data('item-id');
  $.ajax({
    url: '/items/' + itemId + '/edit_modal',
    success: function(html) {
      $('#edit-item-modal').html(html).modal('show');
    }
  });
});
</script>