<div class=item">
  <p>Weight: <%=item[:weight] %> <%=item[:weight_unit] %></p>
  <p>Description: <%=item[:description] %></p>
  <p>Quantity: <%=item[:quantity] %></p>
  <p>SKU: <%=item[:sku] %></p>
  <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#edit-item-modal">Edit</button>
  <%= erb :'items/_edit', locals: { item: item } %>
</div>