<!-- Add item to package modal -->
<% items_dataset = Item.where(shipment_id: parcel.shipment_id).where(parcel_id: nil).all %>

<div class="modal fade" id="add-item-modal" tabindex="-1" aria-labelledby="addItemModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="addItemModalLabel">Add Item to Package</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <form action="/shipments/<%= parcel.shipment_id %>/parcel/<%=parcel.id%>/add_item" method="post">
                <div class="modal-body">
                    <div class="mb-3">
                        <select class="form-select" name="selected_item">
                        <% items_dataset.each do |item| %>
                            <option value="<%= item[:id] %>"><%= item[:description] %> - <%= item[:sku] %></option>
                        <% end %>
                        </select>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancel</button>
                    <button type="submit" class="btn btn-primary">Add Item</button>
                </div>
            </form>
        </div>
    </div>
</div>
