<!--<% @items = parcel.get_items %>-->

<h2>Parcel <%= parcel.id %></h2>
<ul>
    <li>Package Type: <%= parcel.package_type %></li>
    <li>Weight: <%= parcel.weight %> <%= parcel.weight_unit %></li>
    <li>Dimensions: <%= parcel.length %> x <%= parcel.width %> <%= parcel.dimension_unit %></li>
    <h4>Items: </h4>
    <% parcel.get_items.each do |item| %>
        <%= erb :'items/_item', locals: { item: item } %>
    <% end %>
</ul>